.DS_Store
venvTextMining/
venv/
Data/
wandb/
progetto_space/space/

# Ignora le cartelle dei modelli
best_multitask_extractor_laptop/
best_multitask_extractor_restaurant/
best_model_laptop/
best_model_restaurant/
best_classifier_laptop/
best_classifier_restaurant/

# Ignora i file pesanti
*.safetensors
*.bin
*.pt

# LaTeX temporary files
*.aux
*.log
*.toc
*.out
*.fdb_latexmk
*.fls
*.synctex.gz

__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.tmp
*.log
*.bak
*.zip
*.tar.gz
*.egg-info/
dist/
build/
*.egg
*.egg-info/
*.log
*.bak

progetto_space/prompt_aggregati/
progetto_space/quadruple_space_estratte.csv
progetto_space/riassunti_finali/
