.DS_Store
venvTextMining/
venv/
wandb/
progetto_space/
risultati_gliner/
risultati_modernBERT/


# Ignora le cartelle dei modelli
models/

# Ignora i file pesanti
*.safetensors
*.bin
*.pt

# LaTeX temporary files
*.aux
*.log
*.toc
*.out
*.fdb_latexmk
*.fls
*.synctex.gz

__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.tmp
*.log
*.bak
*.zip
*.tar.gz
*.egg-info/
dist/
build/
*.egg
*.egg-info/
*.log
*.bak


