.DS_Store
venvTextMining/
venv/
Data/
wandb/
space/

# Ignora le cartelle dei modelli
best_multitask_extractor_laptop/
best_multitask_extractor_restaurant/
best_model_laptop/
best_model_restaurant/
best_classifier_laptop/
best_classifier_restaurant/

# Ignora i file pesanti
*.safetensors
*.bin
*.pt
